<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <header th:fragment="header" class="header">
        <div class="container-fluid">
            <div class="header-wrapper">
                <div class="logo">
                    <a th:href="@{/}">
                        <span class="logo-text">SCMS</span>
                        <span class="logo-subtitle">학생역량관리시스템</span>
                    </a>
                </div>
                
                <nav class="main-nav">
                    <ul class="nav-list">
                        <!-- 비교과 프로그램 - 드롭다운 메뉴 -->
                        <li class="nav-item has-dropdown">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle">
                                비교과 프로그램 <i class="fas fa-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/program/list}" class="dropdown-item">
                                    <i class="fas fa-list"></i> 프로그램 전체보기
                                </a></li>
                                <li><a th:href="@{/program/history}" class="dropdown-item">
                                    <i class="fas fa-history"></i> MY 프로그램
                                </a></li>
                            </ul>
                        </li>
                        
                        <li class="nav-item"><a th:href="@{/mileage}" class="nav-link">마일리지</a></li>
                        <li class="nav-item"><a th:href="@{/counseling}" class="nav-link">통합상담</a></li>
                        <li class="nav-item"><a th:href="@{/competency}" class="nav-link">역량진단</a></li>
                        <li class="nav-item"><a th:href="@{/portfolio}" class="nav-link">포트폴리오</a></li>
                        <li class="nav-item"><a th:href="@{/survey}" class="nav-link">설문조사</a></li>
                    </ul>
                </nav>
                
                <div class="user-menu">
                    <a th:href="@{/auth/register}" class="btn-link">회원가입</a>
                    <a th:href="@{/auth/login}" class="btn-link">로그인</a>
                    <button class="btn-search" id="searchBtn"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
        
        <div class="search-modal" id="searchModal">
            <div class="search-modal-content">
                <input type="text" class="search-input" placeholder="검색어를 입력하세요">
                <button class="btn-close-search" id="closeSearchBtn"><i class="fas fa-times"></i></button>
            </div>
        </div>
    </header>
</body>
</html>
